<div class="sml-logo flex flex-row">
  <img class="sml-logo-dragon justify-center" src="/img/dragongif.gif" alt="dragon on gold">
  <img class="sml-logo-words justify-center" src="/img/md-txt-trans.png" alt="moneydragon text">
</div>

<h1>Editing my place: '<%=@merchant.name%>'</h1>
<br />
<form class="flex ctr-form" action="/places/<%=@merchant.id%>" method="POST">
  <label for="new-name">New name:</label>
  <input required type="text" id="new-name" name="name" value="<%=@merchant.name%>">

  <input class="submit-btn" type="submit" value="Update">
</form>
<br />
<a class="ctr-btn inline-flex" href="/places/<%=@merchant.id%>">back to <%=@merchant.name%></a>
