<h1>Editing my place: '<%=@merchant.name%>'</h1>
<br />
<form action="/places/<%=@merchant.id%>" method="POST">
  <label for="new-name">New name:</label>
  <input required type="text" id="new-name" name="name" value="<%=@merchant.name%>">

  <input type="submit" value="Update">
</form>
<br />
<a href="/places/<%=@merchant.id%>">back to <%=@merchant.name%></a>
