<div class="sml-logo flex flex-row">
  <img class="sml-logo-dragon justify-center" src="/img/dragongif.gif" alt="dragon on gold">
  <img class="sml-logo-words justify-center" src="/img/md-txt-trans.png" alt="moneydragon text">
</div>

<h1>Editing my tag: '<%=@tag.type%>'</h1>

<form class="flex ctr-form" ction="/tags/<%=@tag.id%>" method="POST">
  <label for="new-tag">New type:</label>
  <input required type="text" id="new-tag" name="type" value="<%=@tag.type%>">
  <input class="submit-btn" type="submit" value="update">
</form>
<br />
<a class="ctr-btn inline-flex" href="/tags/<%=@tag.id%>">back to <%=@tag.type%></a>
