<div class="sml-logo flex flex-row">
  <img class="sml-logo-dragon justify-center" src="/img/dragongif.gif" alt="dragon on gold">
  <img class="sml-logo-words justify-center" src="/img/md-txt-trans.png" alt="moneydragon text">
</div>

<h1>Edit my spending details:</h1>
<h4 class="prv-spend">Previously:<br /> I spent £<%=@spend.amount%> at '<%=@spend.merchant.name%>', tagged as '<%=@spend.tag.type%>'.</h4>
<br />

<form class="flex ctr-form" action="/spending/<%=@spend.id%>" method="POST">
  <div class="flex-column">

    <div>
      <label style="padding:0em 2em 0em 0em;" for="dd-budget"><p style="text-align:center">For budget:</p></label>
      <select required name="budget_id" id="dd-budget">
        <option value="" selected disabled>Select a budget (required):</option>
        <%for budget in @budgets%>
        <option <%="selected" if @spend.budget_id == budget.id%> value="<%=budget.id%>"><%=budget.name.capitalize%></option>
        <%end%>
      </select>
    </div>

    <br />
    <div class="amount">
      <p>I spent:</p>
      <label style="padding:0em 4em 0em 0em;" for="add-amount">Amount (£): </label>
      <input required min="0" type="number" id="add-amount" name="amount" value="<%=@spend.amount%>">
    </div>

    <div>
      <label style="padding:0em 6em 0em 0em;" for="dd-merchant">At:</label>
      <select required name="merchant_id" id="dd-merchant">
        <option value="" disabled>Select a place (required):</option>
        <%for merchant in @merchants%>
        <option <%="selected" if @spend.merchant_id == merchant.id%> value="<%=merchant.id%>"><%=merchant.name.capitalize%></option>
        <%end%>
      </select>
    </div>

    <div>
      <label style="padding:0em 6em 0em 0em;" for="dd-month">At:</label>
      <select required name="month_id" id="dd-month">
        <option value="" disabled>Select a time (required):</option>
        <%for month in @months%>
        <option <%="selected" if @spend.month_id == month.id%> value="<%=month.id%>"><%=month.name.capitalize%></option>
        <%end%>
      </select>
    </div>

    <div>
      <label style="padding:0em 4em 0em 0em;" for="dd-tag">Tag as:</label>
      <select required name="tag_id" id="dd-tag">
        <option value="" disabled>Select a tag (required):</option>
        <%for tag in @tags%>
        <option <%="selected" if @spend.tag_id == tag.id%> value="<%=tag.id%>"><%=tag.type.downcase%></option>
        <%end%>
      </select>
    </div>

    <br />
    <!-- can't center -->
    <input class="submit-btn" type="submit" value="update">
  </div>
</form>

<br />
<a class="ctr-btn inline-flex" href="/spending">back to my spending</a>
