<div class="sml-logo flex flex-row">
  <img class="sml-logo-dragon justify-center" src="/img/dragongif.gif" alt="dragon on gold">
  <img class="sml-logo-words justify-center" src="/img/md-txt-trans.png" alt="moneydragon text">
</div>


<h1>My spending:</h1>
<a class="ctr-btn inline-flex" href="/spending/new">add spend</a>
<br />
<br />
<hr />

<%for spend in @spending %>

<div class="flex idx-row">
  <div class="flex spend-row">
  <p>I spent £<%=spend.amount%> </p>
  <p> at <a href="/places/<%=spend.merchant_id%>"><%=spend.merchant.name.capitalize%> </a></p>
  <p> tagged as: <a href="/tags/<%=spend.tag_id%>"><%=spend.tag.type%></a>.</p>
  </div>

  <div class="flex idx-btns">
    <a class="edit-btn" href="/spending/<%=spend.id%>/edit">edit</a>
    <form class="flex" action="/spending/<%=spend.id%>/delete" method="POST">
      <input class="dlt-btn" type="submit" value="delete">
    </form>
  </div>
</div>
<hr />

<%end%>


<br />
<a class="ctr-btn inline-flex" class="ctr-btn inline-flex"href="/">home</a>
