<h1>My spending:</h1>
<a href="/spending/new">add spend</a>
<br />
<br />
<hr />

<%for spend in @spending %>

<div class="spend-row">
  <p>I spent £<%=spend.amount%></p>
  <p>at <a href="/places/<%=spend.merchant_id%>"><%=spend.merchant.name.capitalize%></a></p>
  <p>tagged as: <a href="/tags/<%=spend.tag_id%>"><%=spend.tag.type%></a>.</p>
</div>

<a class="edit-btn" href="/spending/<%=spend.id%>/edit">edit</a>
<form action="/spending/<%=spend.id%>/delete" method="POST">
  <input type="submit" value="delete">
</form>

<hr />

<%end%>


<br />
<a href="/">home</a>
